.input-field {
  display: flex;
  flex-direction: column;
  gap: var(--space-small);
  padding: 0;
  border: none;

  label {
    font-weight: 500;
  }

  input {
    height: 44px;
    padding-inline: var(--space-small);
    border-radius: var(--border-radius);
    border: solid 2px var(--color-gray);
    outline: none; /* removes the browser blue border as we will use our own */
  }

  input:focus-within {
    border-color: var(--color-blue);
  }

  input.success {
    border-color: var(--color-green);
  }

  input.error {
    border-color: var(--color-red);
  }

  .validation-message {
    color: var(--color-red);
  }
}
