:root {
  /* Colors */
  --color-red: rgb(200, 44, 44);
  --color-green: rgb(42, 199, 104);
  --color-blue: rgb(0, 113, 235);
  --color-gray: rgb(148, 149, 150);

  /* Spacing */
  --space-small: 8px;
  --space-medium: 16px;

  /* Other */
  --border-radius: 8px;
}

body {
  max-width: 550px;
  margin-inline: auto;
  background-color: lightgrey;
  font-family: "Helvetica Neue", Helvetica, system-ui, sans-serif;
  font-weight: 300;
}

form {
  display: flex;
  flex-direction: column;
  padding: var(--space-medium);
  gap: var(--space-medium);
  background-color: white;
  border-radius: var(--border-radius);
}

button {
  min-height: 44px;
  background-color: var(--color-blue);
  border-radius: var(--border-radius);
  color: white;
  border: none;
}
